body {
    display:flex;
    flex-direction: column;
    height:100vh;
}
.navigation, .top-content{
    background-color:#1F2937;
    color:white;
}
 .top-content, .information, .testimonials, .bottom-content{
    display:flex;
    flex:1;
}

