/*Import Roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
body {
    display:flex;
    flex-direction: column;
    height:100vh;
    margin:0px;
}
.top-content, .bottom-content{
    padding: 40px 25vh;
    align-items: center;
}
.testimonials, .information{
    padding: 60px 30vh;
    align-items: center;
}
.navigation, .top-content, .footer{
    background-color:#1F2937;
    color:white;
}

/* Navigation*/
.navigation{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding:1vh 25vh;
}
.logo{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
    flex:0 0 auto;
}
.right-links{
    display:flex;
    gap:20px;
    font-size: 18px;
    color:#E5E7EB
}
ul{
    list-style-type: none;
}

/*Top-Content*/
.top-content{
    flex:2;
    display: flex;
}
.top-title{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
}
.header-image, .top-text{
    flex:1;
}
.top-button{
    border:none;
    font-weight: bolder;
}
button{
    background-color: #3882f6;
    color:white;
    padding:10px 20px;
    border-radius: 8px;
}

/*Information*/
.information{
    flex:1;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.information-header{
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    margin-bottom: 32px;
}
.information-cards{
    display:flex;
    flex-wrap:nowrap;
    gap:16px;
    color: #1F2937;
}
.info{
    max-width: 200px;
    display:flex;
    flex-direction: column;
    gap:8px;
}

/*Testimonials*/
.testimonials{
    display: flex;
    color: #1F2937;
    flex-direction: column;
    background-color: #E5E7EB;
}
.quotes{
    font-size: 36px;
    font-style:italic;
    font-weight: lighter;
}
.originator{
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

/* Bottom Content*/
.bottom-info{
    background-color: #3882f6;
    border-radius: 8px;
    color:#E5E7EB;
    display:flex;
    padding:32px;
    align-items: center;
    justify-content: space-around;
}
.bottom-title{
    font-weight: bold;
}
.bottom-button{
    border: 1px solid #E5E7EB;
}

/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5vh 0;
}


