/*Import Roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
body {
    display:flex;
    flex-direction: column;
    height:100vh;
    margin:0px;
}
.navigation, .top-content{
    background-color:#1F2937;
    color:white;
}
.navigation{
    justify-content: space-between;

}
.logo{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
    flex:0 0 auto;
}
.right-links{
    display:flex;
    gap:20px;
    font-size: 18px;
    color:#E5E7EB
}
ul{
    list-style-type: none;
}
.top-content{
    
}
.navigation, .top-content, .information, .testimonials, .bottom-content, .footer{
    display: flex;
    padding: 0px 20vh;
    align-items: center;
}